<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <ul class="nav justify-content-end">
           <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
           </li>
        </ul>
     </nav>
     <div class="container p-3">
        <div class="row">
           <div class="col">
              <h1>Dashboard</h1>
           </div>
        </div>
     </div>

      <div class="col-10 mx-auto">
         <form action="" method="POST">
                  
            <div class="form-group">
               <label for="post_title">Comment Title</label>
               <input type="text" name="title" placeholder="Enter post title" id="post_title" required>
            </div>
            
            <div class="form-group">
               <label for="author_name">Author Name</label>
               <input type="text" name="author" placeholder="Enter author name" id="author_name" required>
            </div>

            <div class="form-group">
               <label for="post_content">Write your comment</label>
               <input type="text" name="content" placeholder="Write something..." id="post_content" required>
            </div>
            
            <div class="form-group">
               <label for="author_name">Image Link</label>
               <input type="text" name="image_link" placeholder="Enter a Image link" id="image_link" required>
            </div>
            
            <input class="submit-btn" type="submit" id="submit-btn" value="POST">
      
         </form>
      </div>


   
    <div class="all_posts">
      {% for post in allpost %}
      <div class="comment-con-outer">
          <div class="comment-con-inner">
              <span class="post_title">{{post.title |e}}</span> 
              <span class="post_author"> By {{post.author_name |e}}</span> 
              <span class="post_comment">{{post.content |e}}</span> 
              <div class="post-img-con">
                  <img src="{{post.image_link |e}}" alt="" class="post-img">
              </div>
              <div class="footer-con">
                  <span class="post_date">Posted {{post.createdAt | date("d M, Y")}}</span>
                  <a href="/delete/{{post._id}}" class="btn-link">Delete</a>
              </div>
          </div>
      </div>

      {% endfor %}
  </div>

   

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>